body {
  background-color: lightblue;
}
h1 {
  font-family: 'Kanit', sans-serif;
  text-align: center;
  font-size: 85px;
}

.card-title {
  font-weight: bold;
  font-size: 25px;
  margin-left: 20px;
  width: 800px;
}

.card {
  border: 4px solid black;
  border-radius: 8px;
  margin-left: 20px;
  width: 800px;
}


#profilePhoto {
  float: right;
  width: 200px;
  height:auto;
}
